<%- include('parts/header.ejs') %>
    <%- include('parts/navbar.ejs') %>

        <div class="container">
            <form action="\" method="get">
                <select name="category" class="form-control">
                    <option value="all">All</option>
                    <option value="mobile">Phones</option>
                    <option value="clothes">Clothes</option>
                    <option value="combuters">Combuters</option>

                </select>
                <input type="submit" value="Filter" class="btn btn-primary">
            </form>

            <% if(validationError){ %>

                <p class="alert alert danger">
                    <%=validationError.msg%>
                </p>
                <% } %>

                    <% if(products.length===0) {%>
                        <div class="alert alert-danger">
                            ther is no products
                        </div>
                        <% }else{ %>
                            <div class="row">
                                <% for(let product of products) { %>
                                    <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="card" style="width: 18rem;">
                                            <img src="<%-product.image%>" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="/product/<%= product._id%>">
                                                        <%= product.name%>
                                                    </a>
                                                    <p>
                                                        <%= product.category%>
                                                    </p>
                                                    <p>Price: <%= product.price%> $</p>
                                                </h5>
                                                <form action="/cart" method="post" class="add-to-cart-form">
                                                    <input type="number" name="amount" class="form-control">
                                                    <input type="hidden" name="name" value="<%= product.name%>">
                                                    <input type="hidden" name="price" value="<%= product.price%>">
                                                    <input type="hidden" name="productID" value="<%= product._id%>">
                                                    <input type="hidden" name="redirectTo" value="/">
                                                    <input type="submit" value="Add to cart" class="btn btn-primary">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
        </div>

        <form>

        </form>
        <%- include('parts/footer.ejs') %>